html, body {
    height: 100%;
    font-family: 'Roboto', 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #000000;
    background: #eeeeee;
}

.navbar-default{
    background-color: rgba(0,0,0,0.3);
    border: none;
    border-color: #ffffff;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.navbar-default.affix,
.navbar-default.black{
    background-color: #000000;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-brand:hover {
    color: #ffffff;
    opacity: 0.5;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-brand:focus {
    color: #ffffff;
}

.navbar-toggle {
    margin-top: 6px;
    margin-bottom: 0px;
    margin-right: 0px;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a,
.head-number a span{
    color: #ffffff;
}

.navbar-default .navbar-toggle .icon-bar{
    background-color: #ffffff;
}

.navbar-brand{
    height: unset;
    font-size: 1.25rem;
    padding: 10px 0px;
    line-height: 30px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.navbar-header {
    padding: 0;
}

.navbar-nav>li>a,
.head-number a span{
    line-height: 30px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.menu-tel{
    float: right;
    display: block;
    margin: 10px 15px;
}

.head-number a span{
    line-height: 40px;
}

.head-number{
    display: none;
    padding: 0px 5px;
}

.head-number button,
.head-number a{
    display: block;
    height: 40px;
    padding: 10px 0px;
}

.head-number a{
    height: 60px;
    float: right;
}

.head-number a:hover,
.head-number a:focus{
    opacity: 0.5;
}

header{
    height: calc(100% + 20px);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../Content/Images/backgrounds/main-background_1600.jpg);
}

header .container{
    position: relative;
    top: 48%;
    transform: translate(0, -50%);
}

header h1{
    font-size: 1.4rem;
    color: #ffffff;
    font-weight: 400;
    margin-top: 10px;
}

header h1 small{
    margin-top: 10px;
    color: #ffffff;
    font-weight: 300;
}

header a{
    margin-top: 30px;
}

a:hover, a:focus{
    text-decoration: none;
    color: unset;
}

button{
    outline: none;
}

p{
    margin: 0;
    margin-top: 10px;
}

.button {
    display: block;
    float: left;
    background: transparent;
    border: 1px solid #ffffff;
    padding: 5px 30px;
}

.button span{
    line-height: 30px;
    color: #ffffff;
}

.button-default{
    outline: 0;
    background: none;
    border: none;
}

.button-close{
    width: 30px;
    height: 30px;
    position: relative;
    float: right;
}

.button-close span{
    display: block;
    transform-origin: 50% 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 2px;
    width: 30px;
    background: black;
}

.button-close span:nth-child(1){
    transform: translate(-50%, -50%) rotate(45deg);
}

.button-close span:nth-child(2){
    transform: translate(-50%, -50%) rotate(135deg);
}

section.container{
    margin-top: -8px;
    padding: 10px 30px;
    background: #ffffff;
    box-shadow: 0 9px 0px 0px white, 0 -9px 0px 0px white, 5px 0 15px -4px rgba(0,0,0,0.3), -5px 0 15px -4px rgba(0,0,0,0.3);
}

#contact>div.container:nth-child(1),
header>div.container,
nav>div.container{
    padding: 0px 30px;
}

/* header,
nav{
    padding: 0px;
}

header>div.container{
    margin: 0;
    padding: 40px 35px;
}

nav>div.container{
    margin: 0;
    padding: 0px 35px;
}

section>div.container{
    box-shadow: 12px 0 15px -4px rgba(31, 73, 125, 0.8), -12px 0 8px -4px rgba(31, 73, 125, 0.8);
    box-shadow: 0 9px 0px 0px white, 0 -9px 0px 0px white, 12px 0 15px -4px rgba(31, 73, 125, 0.8), -12px 0 15px -4px rgba(31, 73, 125, 0.8);
    margin: 0;
    padding: 40px 35px;
    background: #ffffff;
}


#contact>div.container{
    padding: 0px 35px;
}

#contact>div.map-container{
    padding: 0px 25px;
} */

section h1{
    font-family: 'Roboto Condensed', 'Roboto', 'Open Sans', sans-serif;
    font-weight: 700;

    /* в разделе вопросов и ответов заголовок должен быть заглавными буквами */
    text-transform: uppercase;
}

.gray{
    color: #9d9d9d;
}

.head-titles{
    padding: 0px 5px;
}

.container{
    width: 100%;
}

.product{
    height: 380px;
    margin-top: 29px;
    padding: 0;
}

.product-boards{
    height: 100%;
    position: relative;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    padding: 10px;
}
.product-boards .product-price{
    opacity: 1;
}
.product-boards:hover .product-price{
    opacity: 0;
}
.product-price p{
    font-weight: 300;
}
.product-img{
    position: absolute;
    width: 100%;
    transform: translate(0%,-50%);
    top: 50%;
    left: 0;
}

.product-title{
    margin-top: 0px;
    font-weight: 400;
    font-size: 30px;
}

.product-price{
    font-weight: 50;
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px 0px;
    color: black;
    height: 100%;
    width: calc(100% - 30px);
    opacity: 1;
    margin: 0 15px;
    font-size: 22px;
}

.product:hover .product-price{
    /* opacity: 0; */
    color: white;
}

.container-price{
    position: absolute;
    left: 0px;
    bottom: 20px;
    /* padding-top: calc(100% - 88px); */
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.product-info{
    font-weight: 50;
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px;
    color: white;
    height: 100%;
    width: 100%;
    opacity: 0;
    background: rgba(0,0,0,0.8);
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.product:hover .product-info{
    opacity: 1;
}

.product-information{
    width: 100%;
    font-weight: 100;
    position: relative;
}

.img-icon{
    width: 40%;
    margin: 40px auto;
}

.margin-top40{
    margin-top: 20px;
    margin-bottom: 20px;
}

#catalog .button{
    padding: 5px 15px;
}

.left{
    float: left;
}

.margin-top10{
    margin-top: 10px;
}

.margin-bottom15{
    margin-bottom: 15px;
}

.col-px-90{
    position: relative;
    float: left;
    width: 90px;
    padding-top: 10px;
}

.col-px-97{
    position: relative;
    float: left;
    width: 40px;
    margin-right: 30px;
    padding-top: 5px;
}

.col-px-60{
    width: 60%;
}

.col-condition{
    min-height: 1px;
    position: relative;
    float: left;
    width: calc(100% - 70px);
}

.product-info .col-rest{
    min-height: 1px;
    position: relative;
    float: left;
    width: calc(100% - 90px);
}

.product-info .form-control{
    width: 30px;
    height: 30px;
    float: left;
    margin: 0 5px;   
    padding: 6px 0px;
    text-align: center;
}


/* TODO убрать col-px-90 */
.col-px-90 .button-price{
    transform: translateY(5px);
}

.button-price{
    width: 20px;
    height: 20px;
    float: right;
    display: block;
    background: transparent;
    border: 0;
    padding: 0;
    text-align: center;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.button-price.left{
    float: left;
}

.button-price span{
    line-height: 20px;
    vertical-align: top;
}

.button-price:hover,
.button-price:focus{
    background: gray;
    color: white;
    border-radius: 5px;
}

.button-price:active{
    background: white;
    color: black;
    border-radius: 5px;
}

.button-img{
    width: 40px;
    height: 40px;
    float: right;
    display: block;
    background: transparent;
    border-radius: 5px;
    padding: 0;
    text-align: center;
}

.button-image{
    width: 35px;
    height: 35px;
}

.button-contacts{
    display: block;
    float: left;
    background: transparent;
    border: 1px solid #b8b8b8;
    padding: 0px 5px;
    color: #5a5a5a;
}

#faq{
    padding: 0;
    /* сохранил в папку backgrounds с нормальным названием и размером (было 1 с чем то МБ, стало 99 КБ) */
    background-image: url(../Content/Images/Backgrounds/faq.jpg);
    display: block;
    width: 100%;
    /* height: 100%; */
    /* cover - чтобы подстраивалось под размер экрана */
    background-size: cover;
    background-repeat: no-repeat;
    /* надо позицию по центру сделать */
    background-position: center;
    position: relative;
}

.faq-text{
    color: rgb(255, 255, 255);
}

.faq-question{
    padding-left: 15px;
}

section h3{
    font-family: 'Roboto Condensed', 'Roboto', 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 700;
    position: relative;
}

.faq-question h3 span.text{
    padding-left: 20px;
}

.dot{
    display: block;
    position: absolute;
    width: 12px;
    height: 12px;
    bottom: 8px;
    background: white;
    border-radius: 50%;
}

.faq-black{
    /* в макете 50% непрозрачности, а не 70 */
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    padding: 40px;
}

.caret-container{
    z-index: 1050;
    background: rgba(0,0,0,0.5);
    height: 100vh;
    width: 100%;
    display: none;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    overflow: hidden;
}

.caret-container.visible{
    display: block;
    opacity: 1;
}

.caret-content{
    position: relative;
    right: -480px;
    float: right;
    min-height: 1px;
    background: white;
    transform-origin: 100% 50%; 
    width: 100%;
    height: 100%;
    max-width: 480px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.caret-container.visible .caret-content{
    right: 0px;
}

#contact{
    padding-bottom: 0px;
}

.ymaps-2-1-62-map-copyrights-promo{
    left: unset!important;
    right: 10px!important;
    bottom: 10px!important;
}

/* .ymaps-2-1-62-copyright{
    float: left!important;
} */

.row-map{
    position: relative;
    margin-top: 20px;
    /* margin-left: -25px;
    margin-right: -25px; */
}

.row-map>div{
    position: absolute;
    height: 500px;
    padding: 0;
}

/* .map-container{
    height: 520px;
} */

.map-info{
    left: 0px;
    background: rgba(0,0,0,0.7);
    z-index: 1020;
}

.map-info h4{
    font-size: 24px;
    font-family: 'Roboto Condensed', 'Roboto', 'Arial', sans-serif;
    color: white;
    font-weight: 700;
}

.content{
    padding: 20px;
    color: #ffffff;
}

#contact .content a{
    color: white;
    text-decoration: none;
}

#contact .content .row{
    margin-bottom: 10px;
}

#contact .content a:hover,
#contact .content a:focus,
#contact .content a:active{
    text-decoration: none;
}

.icon{
    float: left;
    padding: 0 10px;
}

.icon img{
    width: 25px;
}

footer{
    background: black;
    padding: 20px 10px;
}

#side-bar{
    position: fixed;
    z-index: 1060;
    right: 0;
    top: 50%;
    border: none;
    padding: 0;
    transform: translate(0, -50%);
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.3);
}

#side-bar.collapsed{
    right: -30px;
}

#side-bar:hover{
    right: 0;
}

#side-bar a{
    cursor: pointer;
    display: block;
    text-decoration: none;
}

#side-bar img{
    height: 20px;
    opacity: 0.9;
}

.social-item{
    z-index: 1050;
    position: relative;
    padding: 10px;
    background: white;
    border-width: 2px;
    border-style: solid;
    border-top-color: #ffffff;
    border-left-color: #ffffff;
    border-right-width: 0px;
    border-bottom-color: #eeeeee;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}


.social-item:hover{
    background: #eeeeee;
}

.social-item:nth-child(1)>a{
    z-index: 1040;
}

.number-list{
    z-index: 1020;
    list-style: none;
    position: absolute;
    right: calc(100% + 10px);
    top: 0;
    opacity: 1;
    width: 250px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.number-list li{
    background: white;
    border-width: 3px;
    border-style: solid;
    border-top-color: #ffffff;
    border-left-color: #ffffff;
    border-right-width: 0px;
    border-bottom-color: #eeeeee;
}

.number-list a{
    color: black;
    font-size: 18px;
    line-height: 30px;
    padding: 0 20px;
}

.number-list.collapsed{
    opacity: 0;
}

footer{
    color: #ffffff;
    font-size: 14px;
}

.copyright{
    font-size: 20px;
}

.social-list{
    padding: 0;
    list-style: none;
    width: 180px;
    margin: auto;
}

.social-list li{
    float: left;
    margin: 5px;
}

.social-list a{
    display: block;
}

.social-list a:hover{
    opacity: 0.5;
}

.social-list img{
    width: 30px;    
}

#contact{
    padding-left: 0px;
    padding-right: 0px;
}

.mobile{
    display: block;
}

.desktop{
    display: none;
}

