@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .row-map>div{
        position: relative;
        height: 300px;
        background: rgba(0,0,0,1);
    }
    .row-map>div.map-info{
        height: 250px;
    }
}
/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
    
    .col-px-97{
        padding-top: 0;
        margin-right: 20px;
    }
    .col-condition{
        width: calc(100% - 60px)
    }
}

/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
    

    .col-px-90{
        width: 80px;
    }

    .product-info .col-rest{
        width: calc(100% - 80px);
    }
}

/* Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {   
    
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
    
}

/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
    
}

/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
    
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) {
}

/* Portrait */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: portrait) {
    
}

/* Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) {
    
}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
    
}

/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (orientation: portrait) {
    
}

/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 813px) and (orientation: landscape) {
    
}

@media (min-width: 420px) {
    
}

@media (min-width: 768px) {
    html,body{
        font-size: 18px;
    }

    .navbar-brand{
        padding: 15px;
    }

    .menu-tel{
        display: none;
    }

    .container{
        width: 100%;
        max-width: calc(100vw - 40px);
    }

    .head-titles{
        display: flex;
        justify-content: center;
    }

    .head-number{
        display: block;
    }

    section.container{
        padding: 10px 50px;
    }

    #contact>div.container:nth-child(1),
    header>div.container,
    nav>div.container{
        padding: 0px 50px;
    }

    .margin-top40{
        margin-top: 40px;
    }

    .product{
        padding-left: 15px;
        padding-right: 15px;
    }

    .product-price{
        padding: 15px;
    }

    .container-price{
        left: 15px;
        font-size: 24px;
    }

    .goods{
        margin-left: -30px;
        margin-right: -30px;
    }

    .social-list{
        width: 320px;
    }

    .map-container{
        height: 520px;
    }

    .social-list li{
        margin: 10px;
    }

    .social-list img{
        width: 50px;    
    }

    .social-list{
        padding: 20px;
    }

    #side-bar.collapsed{
        right: -40px;
    }

    #side-bar:hover {
        right: 0;
    }

    #side-bar img{
        height: 30px;
    }

    .social-item{
        border-width: 3px;
        border-style: solid;
        border-top-color: #ffffff;
        border-left-color: #ffffff;
        border-right-width: 0px;
        border-bottom-color: #eeeeee;
    }

}

@media only screen and (min-device-width: 768px) and (max-device-width: 813px) and (orientation: landscape) {
    
}

@media only screen and (min-device-height: 768px) and (max-device-height: 813px) and (orientation: portrait) {
    
}

@media (min-width: 992px) {
    .mobile{
        display: none;
    }
    
    .desktop{
        display: block;
    }
}

@media (min-width: 1090px) {
    html,body{
        font-size: 24px;
    }
}

@media (min-width: 1200px) {
    header{
        background-position: left;
    }

    .container{
        width: 1170px;
    }
    
    .product-info{
        padding: 30px;
    }

    .product-price{
        padding: 30px;
    }

    .container-price{
        left: 30px;
        font-size: 24px;
    }
}

@media (min-width: 1600px) {
    header{
        background-image: url(../Content/Images/backgrounds/main-background.jpg);
    }
}
